attrs==17.4.0
boto==2.48.0
boto3==1.5.11
botocore==1.8.25
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
decorator==4.1.2
Django==2.2.24
docutils==0.14
Flask==0.12.2
funcy==1.10
future==0.16.0
gensim==3.2.0
google-api-python-client==1.6.5
httplib2==0.10.3
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jupyter-client==5.2.1
jupyter-core==4.4.0
lda==1.0.5
MarkupSafe==1.0
nltk==3.2.5
numexpr==2.6.4
numpy==1.14.0
oauth2client==4.1.2
pandas==0.22.0
parso==0.1.1
pbr==3.1.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
pyLDAvis==2.1.1
pytest==3.3.2
python-crontab==2.2.8
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
tornado==4.5.3
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
